body, html {
  background-image: linear-gradient(-90deg, #0059a0 0%, #0198dd 100%);
  color: #1e3c6d;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}
main {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 5.3px rgba(0, 0, 0, 0.09),
    0 16.8px 17.6px rgba(0, 0, 0, 0.11),
    0 75px 79px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  margin: 50px 25px;
  max-width: 1200px;
  overflow: hidden;
  padding: 0;
}
aside {
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  width: 38.2%;
}
aside h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 5px;
  text-transform: uppercase;
}
aside h2 {
  display: flex;
  padding: 0px 0 15px;
}
aside h2 span {
  padding: 0 0 0 10px;
  text-align: left;
  width: 50%;
}
aside h2 span:nth-child(odd) {
  padding: 0 10px 0 0;
  text-align: right;
}
aside h2, aside h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  position: relative;
}
aside ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  list-style: none;
  margin: 0 0 25px;
  padding: 10px 0;
  position: relative;
}
aside ul::before, aside h2::before {
  border-right: 1px solid #6d788a;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
aside ul li {
  box-sizing: border-box;
  line-height: 18px;
  margin: 0;
  padding: 0 0 7px 5px;
  text-align: left;
  width: 50%;
}
aside ul li a {
  color: #0087d6;
  text-decoration: none !important;
}
aside ul li svg {
  max-height: 18px;
  max-width: 18px;
  margin: 0 5px;
  vertical-align: middle;
}
aside ul li:nth-child(odd) {
  padding: 0 5px 0 0;
  text-align: right;
}
aside ul.checklist {
  margin: 15px 0 0;
  padding: 7px 0;
}
aside ul.checklist li {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%230087d6" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>');
  background-repeat: no-repeat;
  background-position: 0% 6px;
  background-size: 13px 13px;
  line-height: 25px;
  padding: 0 0 0 20px;
  margin: 0 0 0 10px;
  width: calc(50% - 10px);
}
aside ul.checklist li:nth-child(odd) {
  background-position: 100% 6px;
  padding: 0 20px 0 0;
  margin: 0 10px 0 0;
}
aside article {
  padding: 0 25px 25px;
}
aside article.wide {
  padding: 0 0 25px;
}
aside article h3,
section h2 {
  font-weight: 600;
  padding-bottom: 12px;
  text-transform: uppercase;
}
aside article h3::before,
section h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  border-bottom: 2px solid #0087d6;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
aside article p {
  color: #6d788a;
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 15px 0 0;
  text-align: justify;
}
aside article figure {
  color: #6d788a;
  margin: 0;
  text-align: center;
}
aside article figure svg {
  box-sizing: border-box;
  height: 24px;
  margin-bottom: 5px;
}
aside article figure figcaption {
  font-size: 10px;
}
section {
  background: #fafafa;
  box-sizing: border-box;
  margin: 0;
  padding: 25px;
  width: 61.8%;
}
section h2 {
  text-align: center;
  position: relative;
  font-size: 16px;
  margin: 8px 0 30px;
}
.techlist {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0;
  justify-content: center;
}
.techlist > * {
  align-items: center;
  border-radius: 10px;
  box-shadow:
    0 1px 1.1px rgba(44, 96, 181, 0.02),
    0 4.9px 4.4px rgba(92, 127, 183, 0.03),
    0 12px 14px rgba(44, 96, 181, 0.05);
  display: flex;
  flex-flow: column;
  height: 70px;
  justify-content: center;
  margin: 7px;
  text-align: center;
  width: 55px;
}
.timeline {
  counter-reset: listCounter;
  padding: 25px 0;
  position: relative;
}
.timeline > article {
  align-items: center;
  counter-increment: listCounter;
  display: grid;
  grid-gap: 75px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 35px;
  position: relative;
}
.timeline > article:last-child {
  margin: 0;
}
.timeline > article::before {
  background-color: #0087d6;
  border: 2px solid #0087d6;
  border-radius: 50%;
  color: #ffffff;
  content: counter(listCounter);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 25px;
  left: 50%;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
}
.timeline > article address {
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5;
  margin: 0 auto 0 0;
  order: 1;
  padding: 15px 0;
  text-align: left;
}
.timeline > article:nth-child(odd) address {
  margin: 0 0 0 auto;
  order: 0;
  text-align: right;
}
.timeline > article address h3,
.timeline > article address h4,
.timeline > article address p {
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.timeline > article address h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.timeline > article address h4 {
  color: #0087d6;
}
.timeline > article address p {
  color: #6d788a;
}
.timeline > article .description {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow:
    0 1px 1.1px rgba(44, 96, 181, 0.02),
    0 4.9px 4.4px rgba(92, 127, 183, 0.03),
    0 12px 14px rgba(44, 96, 181, 0.05);
  color: #6d788a;
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 5px 25px;
}
.timeline::before {
  border-right: 2px solid #0087d6;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-1px);
}
.email {
  white-space: nowrap;
}
.sm-only {
  display: none;
}
.lg-only {
  display: none ;
}
@media screen and (min-width: 1150px) {
  main {
    margin: 50px auto;
  }
  .lg-only {
    display: initial !important;
  }
  .lg-hide {
    display: none !important;
  }
}
@media screen and (max-width: 1000px) {
  aside {
    width: 45%;
  }
  section {
    width: 55%;
  }
  .lg-only {
    display: none !important;
  }
}
@media screen and (max-width: 850px) {
  main {
    margin: 10px 0;
    border-radius: 0;
  }
  aside, section {
    width: 100%;
  }
  aside h1 {
    color: #0059a0;
  }
}
@media screen and (max-width: 500px) {
  .sm-hide {
    display: none !important;
  }
  .sm-only {
    display: initial !important;
  }
  aside article {
    padding: 0 0 25px;
  }
  .timeline > article {
    background-color: #ffffff;
    border-radius: 2.5px 5px 5px 2.5px;
    border-left: 5px solid #0087d6;
    grid-template-columns: 100%;
    grid-gap: 0;
  } 
  .timeline::before {
    border-right: 5px dotted #0087d6;
    left: 1px;
  }
  .timeline > article::before {
    height: 20px;
    left: -2px;
    line-height: 20px;
    top: 26px;
    width: 20px;
  }
  .timeline > article address {
    margin: 0 !important;
    order: 0 !important;
    padding: 15px 25px 7px 20px;
    position: relative;
    text-align: left !important;
  }
  .timeline > article .description {
    padding: 0 25px 25px 20px;
  }
}